.details-section {
    padding: 1rem;
  }
  
  .row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .field {
    flex: 1;
    min-width: 250px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  mat-accordion {
    margin-top: 1.5rem;
  }
  
  .back-home-container {
    margin-top: 2rem;
  }
  
  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #5e35b1;
    font-weight: bold;
  }

  .tab-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
  }