.toolbar {
    display: flex;
    justify-content: space-between;
    overflow-x: visible;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .toolbar > div:nth-child(2) {
    display: flex;
    align-items: center;
  }
  
  .app-title {
    display: flex;
    align-items: center;
  }
  
  .app-icon {
    font-size: 24px; // Set to match Material Symbols sizing
    vertical-align: middle;
    margin-right: 8px;
    line-height: 1;
    display: inline-block;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    height: 48px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: black;
  }
  
  .menu-item:hover {
    background-color: var(--mat-menu-item-hover-state-layer-color);
  }
  
  .divider {
    border: 1px solid gainsboro;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }