<h2 mat-dialog-title>
    <mat-icon color="primary" style="vertical-align: middle;"></mat-icon>
    <span class="ml-8">Create New Premise</span>
  </h2>
  <mat-divider></mat-divider>
  
  <mat-dialog-content>
    <form [formGroup]="editForm" class="form-container">
  
      <!-- Organisation + Premise Type -->
      <div class="css-grid-50-50">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Organisation</mat-label>
          <input matInput value="Kangaroo Island Eggs" readonly />
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Premise Type</mat-label>
          <mat-select formControlName="premiseType">
            <mat-option value="Retail">Seafood Bivalve Mollusc</mat-option>
            <mat-option value="Warehouse">RTE Meat</mat-option>
            <mat-option value="Factory">Aged Care</mat-option>
            <mat-option value="Factory">Meals On Wheels</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Description + Trading Name -->
      <div class="css-grid-50-50">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Trading Name</mat-label>
          <input matInput formControlName="tradingName" />
        </mat-form-field>

        <!--

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Assessing Officer</mat-label>
          <mat-select formControlName="assessingOfficer*">
            <mat-option value="john">John Smith</mat-option>
            <mat-option value="jane">Jane Doe</mat-option>
            <mat-option value="alex">Alex Turner</mat-option>
          </mat-select>
        </mat-form-field>
-->

      </div>
  

    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="onSubmit()">Save</button>
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>