.back-home-container {
    margin-top: 2rem;
  }
  
  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #5e35b1;
    font-weight: bold;
  }