.details-section {
    padding: 1rem;
  }
  
  .row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .field {
    flex: 1;
    min-width: 250px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    

    padding: 1rem;
    z-index: 1000;
  }
  
  mat-accordion {
    margin-top: 1.5rem;
  }
  
  .back-home-container {
    margin-top: 2rem;
  }
  
  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #5e35b1;
    font-weight: bold;
  }

  .tab-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
  }

  .icon-dropdown-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  
  .store-icon {
    font-size: 36px;
    color: #555;
  }
  
  .dropdown-select {
    min-width: 200px;
  }


  .toolbar {
    display: flex;
    justify-content: space-between;
    overflow-x: visible;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .toolbar > div:nth-child(2) {
    display: flex;
    align-items: center;
  }
  
  .app-title {
    display: flex;
    align-items: center;
  }
  
  .app-icon {
    font-size: 24px; // Set to match Material Symbols sizing
    vertical-align: middle;
    margin-right: 8px;
    line-height: 1;
    display: inline-block;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    height: 48px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: black;
  }
  
  .menu-item:hover {
    background-color: var(--mat-menu-item-hover-state-layer-color);
  }
  
  .divider {
    border: 1px solid gainsboro;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }