<!-- Toolbar (optional) -->
<app-toolbar [title]="'Kangaroo Island Eggs'" [icon]="'store'"></app-toolbar>


<mat-toolbar class="toolbar" color="primary">
  <div class="app-title">

  </div>

  <div class="d-flex align-items-center"> <div class="mr-10"></div>

    <div [matMenuTriggerFor]="belowMenu" class="menu">
      <span class="material-symbols-outlined nav-icon">more_vert</span>
    </div>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="openNewInspection()">New Inspection</button>
      <button mat-menu-item (click)="openNewPremise()">New Premise</button>
    </mat-menu>
  </div>
</mat-toolbar>
<!-- Action Buttons -->

<mat-tab-group>

  <mat-tab label="Details">
    <div class="button-group">
      <button mat-raised-button color="warn">Register Premises</button>
      <button mat-raised-button color="warn">Close Premises</button>
      <button mat-raised-button color="primary">Edit</button>
    </div>
    <div class="details-section">
      <!-- First row with 4 fields -->
      <div class="row">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Premise Type*</mat-label>
          <input matInput value="Egg Processor" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Organisation</mat-label>
          <input matInput value="Kangaroo Island Egg Corporation" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Description</mat-label>
          <input matInput value="Egg Processor at Kangaroo Island" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Trading Name</mat-label>
          <input matInput value="Kangaroo Island Eggs" disabled>
        </mat-form-field>
      </div>


      <!-- First row with 4 fields -->

      <div class="row">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Council</mat-label>
          <input matInput value="1124345" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>BPAY Reference</mat-label>
          <input matInput value="12345" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Risk</mat-label>
          <input matInput value="4" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Frequency</mat-label>
          <input matInput value="12 Months" disabled>
        </mat-form-field>

      </div>
    </div>
    <!-- Summary Fields -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Additional Fields</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="field">
          <mat-label>Auditor</mat-label>
          <input matInput value="Tina Marie Agahiana" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field">
          <mat-label>Council</mat-label>
          <input matInput value="Port Lincoln District" disabled>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>System Information</mat-panel-title>
        </mat-expansion-panel-header>
        <p>System information goes here...</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Addresses</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Address content goes here...</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>

  <mat-tab label="Comments">
    <h1>THIS IS THE COMMENTS TAB</h1>
  </mat-tab>

  <mat-tab label="Contacts">
    <h1>THIS IS THE Contacts TAB</h1>
  </mat-tab>

  <mat-tab label="Attachments">
    <h1>THIS IS THE Attachments TAB</h1>
  </mat-tab>

  <mat-tab label="Inspections">
    <app-inspection-list></app-inspection-list>
  </mat-tab>

  <!-- <mat-tab label="Inspection Schedule">

    </mat-tab> -->

  <mat-tab label="Invoices">
    <h1>THIS IS THE Invoices TAB</h1>
  </mat-tab>

  <mat-tab label="Audit Journal">
    <h1>THIS IS THE Audit Journal TAB</h1>
  </mat-tab>

</mat-tab-group>


<!-- Main Form -->


<!-- Summary Fields -->




<!-- Back Link -->
<div class="back-home-container">
  <a [routerLink]="['/']" class="back-link">
    <span class="material-symbols-outlined">arrow_back</span>
    Back to Home
  </a>
</div>