<h2 mat-dialog-title>New Inspection</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
  <form [formGroup]="editForm" class="form-container">

    <mat-form-field class="full-width">
      <mat-label>Next Inspection</mat-label>
      <mat-select formControlName="nextInspection">
        <mat-option value="weekly">Weekly</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
        <mat-option value="yearly">Yearly</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="full-width">
        <mat-label>Incident Date</mat-label>
        <input matInput [matDatepicker]="incidentDate" formControlName="incidentDate" />
        <mat-datepicker-toggle matIconSuffix [for]="incidentDate"></mat-datepicker-toggle>
        <mat-datepicker #incidentDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Next Audit Date</mat-label>
        <input matInput [matDatepicker]="incidentDatePicker" formControlName="incidentDate" />
        <mat-datepicker-toggle matSuffix [for]="incidentDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #incidentDatePicker></mat-datepicker>
      </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="onSubmit()">Submit</button>
  <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>