@use '@angular/material' as mat;

// Global styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

// Include material theme
@include mat.core();